
/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */

$red: hsl(0, 100%, 66%); //input errors
$light-grayish-violet: hsl(270, 3%, 87%);
$dark-grayish-violet: hsl(279, 6%, 55%);
$very-dark-violet: hsl(278, 68%, 11%);

$mobile-card-width: calc(447px*0.65);
$mobile-card-height: calc(245px*0.65);

//  Linear gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%)

/* TYPOGRAPHY */

body {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
}

.card-number,
.card-name,
.card-exp-date,
.card-cvc {
    color: white;
}

.card-number {
    font-size: 1.2rem;
    letter-spacing: 0.1em;
}

.card-name,
.card-exp-date {
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

.card-cvc {
    font-size: 0.8rem;
}

.label {
    font-family: 'Space Grotesk', sans-serif;
    text-transform: uppercase;
    color: $very-dark-violet;
    font-size: 0.9rem;
    letter-spacing: 0.1em;
}

button {
    color: white;
    font-size: 1.2rem;
}

.complete-state {
    text-align: center;
}

.complete-state h2 {
    text-transform: uppercase;
    color: $very-dark-violet;
}

.complete-state p {
    color: $dark-grayish-violet;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* LAYOUT */

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: url(../../images/bg-main-mobile.png);
    position: relative;
    height: 27vh;
}


.card-front {
    background: url(../../images/card-logo.svg) no-repeat, 
                url(../../images/bg-card-front.png) no-repeat; 
    background-size: 20%, $mobile-card-width $mobile-card-height;
    background-position: 15px 15px, 0 0;                
    top: 15vh;
    left: 2vh;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 1em 1em 1em;
}

.card-front div {
    display: flex;
    justify-content: space-between;
    margin-top: 0.8em;
}

.card-back {
    background: url(../../images/bg-card-back.png) no-repeat;
    background-size: $mobile-card-width $mobile-card-height;
    top: 5vh;
    right: 2vh;
    padding-top: 3.85em;
    padding-left: 12.8em;
}

.card-front,
.card-back {
    position: absolute;
    width: $mobile-card-width;
    height: $mobile-card-height;
}

main {
    padding: 5em 1em 2em 1em;
}

input {
    all: unset;
    padding: 1em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    border: 1px solid $light-grayish-violet;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
}

input::placeholder {
    color: $light-grayish-violet;
}

#cardholder-name,
#card-number {
    display: block;
    width: 100%;    
    outline: none;
}

fieldset {
    border: none;
    display: inline-block;
    width: 50%;
}

#exp-date-month,
#exp-date-year {
    display: inline-block;
    width: 48%;
}

.cvc-container {
    display: inline-block;
    width: 45.99%;
    margin-left: 0.5em;
}

button {
    display: block;
    margin-top: 1em;
    padding: 1em 0;
    border-radius: 10px;
    background-color: $very-dark-violet;
    border: none;
    width: 100%;
}

footer {
    margin-top: auto;
    margin-bottom: 1em;
}

.complete-state {
    margin: 5em auto;
    width: 100%;
    padding: 0em 1em;
}

.complete-state h2{
    margin: 0.5em 0;
}

.complete-state p{
    margin-bottom: 2em;
}

.hide-element{
    display: none;
}


/* MEDIA QUERIES */


