/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
/* TYPOGRAPHY */
body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
}

.card-number,
.card-name,
.card-exp-date,
.card-cvc {
  color: white;
}

.card-number {
  font-size: 1rem;
  letter-spacing: 0.1em;
}

.card-name,
.card-exp-date {
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.card-cvc {
  font-size: 0.7rem;
}

.label {
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
  color: hsl(278deg, 68%, 11%);
  font-size: 0.8rem;
  letter-spacing: 0.1em;
}

input[type=text] {
  font-size: 0.9rem;
}

button {
  color: white;
  font-size: 1rem;
}

.complete-state {
  text-align: center;
}

.complete-state h2 {
  text-transform: uppercase;
  color: hsl(278deg, 68%, 11%);
}

.complete-state p {
  color: hsl(279deg, 6%, 55%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

.alert-message {
  color: hsl(0deg, 100%, 66%);
  font-size: 0.7rem;
}

/* LAYOUT */
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background: url(../../images/bg-main-mobile.png);
  position: relative;
  min-height: 31vh;
}

.card-front {
  background: url(../../images/card-logo.svg) no-repeat, url(../../images/bg-card-front.png) no-repeat;
  background-size: 20%, 268.2px 147px;
  background-position: 15px 15px, 0 0;
  top: 15.6vh;
  left: 2vh;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 1em 1em 1em;
}

.card-front div {
  display: flex;
  justify-content: space-between;
  margin-top: 0.8em;
}

.card-back {
  background: url(../../images/bg-card-back.png) no-repeat;
  background-size: 268.2px 147px;
  top: 3vh;
  right: 2vh;
  padding-top: 3.6em;
  padding-left: 12em;
}

.card-front,
.card-back {
  position: absolute;
  width: 268.2px;
  height: 147px;
}

main {
  padding: 0em 1em 0em 1em;
}

form {
  margin-top: 4em;
}

.input-container {
  margin-top: 0.7em;
  transition: opacity ease-in-out 0.5s;
}

.alert-message {
  margin-top: 0.1em;
  display: none;
}

.alert-message-show {
  display: block;
}

.label {
  margin-top: 0;
  padding-top: 0;
}

input {
  all: unset;
  padding: 0.7em;
  margin-top: 0.5em;
  border: 1px solid hsl(270deg, 3%, 87%);
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
}

input::-moz-placeholder {
  color: hsl(270deg, 3%, 87%);
}

input:-ms-input-placeholder {
  color: hsl(270deg, 3%, 87%);
}

input::placeholder {
  color: hsl(270deg, 3%, 87%);
}

.alert-input {
  border-color: hsl(0deg, 100%, 66%);
}

#cardholder-name,
#card-number {
  display: block;
  width: 100%;
  outline: none;
}

.date-cvc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

fieldset {
  border: none;
  display: flex;
  margin-right: 1em;
}

#exp-date-month,
#exp-date-year {
  display: block;
}

#exp-date-month {
  margin-right: 0.5em;
}

button {
  display: block;
  margin-top: 1em;
  padding: 1em 0;
  border-radius: 10px;
  background-color: hsl(278deg, 68%, 11%);
  border: none;
  width: 100%;
}

footer {
  margin-top: auto;
  margin-bottom: 1em;
}

.complete-state {
  margin: 5em auto;
  width: 100%;
  padding: 0em 1em;
}

.complete-state h2 {
  margin: 0.5em 0;
}

.complete-state p {
  margin-bottom: 2em;
}

.hide-element {
  display: none;
}

/* MEDIA QUERIES */
@media (min-width: 750px) {
  body {
    flex-direction: row;
  }
  header {
    width: 30%;
    height: 100vh;
    background: url(../../images/bg-main-desktop.png);
  }
  main {
    display: flex;
    height: 100vh;
    width: 70vw;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .card-front {
    top: 22vh;
    left: 11vh;
    background-size: 20%, 447px 245px;
  }
  .card-back {
    top: 55vh;
    left: 22vh;
    background-size: 447px 245px;
    padding-top: 6em;
    padding-left: 19.5em;
  }
  .card-front,
.card-back {
    width: 447px;
    height: 245px;
  }
  .card-number {
    font-size: 1.8rem;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
  }
  .card-name,
.card-exp-date {
    font-size: 1rem;
    letter-spacing: 0.18em;
    margin-bottom: 0.2em;
  }
  .card-cvc {
    font-size: 1.2rem;
    letter-spacing: 0.15em;
  }
  form,
.complete-state {
    width: 45%;
  }
  footer {
    position: absolute;
    bottom: 0;
    left: 55%;
  }
}/*# sourceMappingURL=main.css.map */